$primary: #ffae00;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

main{
    padding-top:20px;
    padding-bottom: 20px;
}

.container-accueil{
    max-width: 800px;
}

h2{
    font-weight: 400;
}

h2.h2-front{
    border-bottom: solid $primary 1px;
}

h3:not(.popover-header){
    font-weight: 100;
}

article.article-front{
    margin-bottom:20px;
}

ul, li{
    list-style: none;
    padding:0;
}

.main-temp{
    font-size: 2rem;
}

.links-navbar{
    margin-bottom: 0;
    a{
        text-decoration: none;
        color:black;
        font-weight: lighter;
    }
}

.container-small{
    max-width:500px;
}

p.divider-formulaire {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(211, 211, 211);
    line-height: 0.1em;
    margin: 40px 0;
}

p.divider-formulaire span {
    background:#fff;
    padding:0 10px;
}

.btn-google{
    display: flex;
    margin:0 auto;
}

.btn-google i{
    padding-right:10px;
}

.txt-oubli-mdp{
    float:right;
    font-weight:lighter;
    font-size: 0.8em;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}

.table-bo{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius:4px;
    tbody{
        border-top:none !important;
        tr:first-child{
            border-top:none !important;
        }
    }
    .btn-action:hover{
        box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    }
}

i.external-link-bo{
    font-size:10px;
    color:$primary;
    &:before{
        vertical-align: super;
    }
}

//Partie documentation

.container-documentation{
    border-radius:0.25em;
    border:1px solid rgba(0, 0, 0, 0.125);
}

.section-documentation{
    margin-top:0.5em;
    margin-bottom:3em;
}